.container {
  width: 5rem;
  /* height: 2rem; */

  padding: 0.4rem;
  padding-top: 0.5rem;
  margin: 1rem;

  border: none;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container:hover {
  opacity: 0.7;
}

.github {
  background: #000;
  color: var(--white);
}

.linkedIn {
  background: rgb(26, 6, 207);
  color: var(--white);
}

.instagram {
  background: rgb(187, 9, 107);
  color: var(--white);
}

.twiter {
  background: var(--blue-twitter);
  color: var(--white);
}

.container a img {
  width: 2rem;
  height: 2rem;
}
